header img {
  width: 100%; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  position: relative;
  height: 100%;
  font-family: arial, helvetica;
  font-size: 2.2rem; }

footer img {
  width: 100%; }

.wrapper {
  text-align: center; }
  .wrapper .slogan {
    background-color: #b0c200;
    display: inline-block;
    text-align: center;
    margin: 80px auto 20px;
    padding: 6px 11px 3px;
    border-radius: 9px;
    font-size: 1.8rem;
    line-height: 18px; }
  .wrapper .manager, .wrapper .email {
    text-align: center;
    color: #1e8f7f;
    display: block;
    font-size: 1.8rem;
    line-height: 18px; }
  .wrapper .mainContent {
    color: #6b6b6b;
    text-align: right;
    font-size: 1.9rem;
    padding: 26px 4%;
    margin: 0 auto; }
    .wrapper .mainContent span {
      color: #c85440; }
  .wrapper .lowerLogo {
    margin: 0 auto 20px;
    display: block;
    width: 70%; }
  .wrapper .sponser {
    color: white;
    background: #b0c200;
    font-size: 18px;
    padding: 10px 5px;
    max-width: 90%;
    margin-bottom: 50px;
    border-radius: 10px; }

/*# sourceMappingURL=about.css.map */
