$textColor:#6b6b6b;
$redColor:#c85440;
$greenColor:#b0c200;
$lightBlue:#1e8f7f;

header{
  img{
    width: 100%;
  }
}

html{
  height: 100%;
  font-size: 62.5%;
}

body{
  position: relative;
  height: 100%;
  font-family: arial, helvetica;
  font-size: 2.2rem;
}

footer{
//  position: absolute;
//  bottom: 0;
//  right: 0;
//  left: 0;
//  margin: 0 auto;
  img{
    width: 100%;
  }
}

.wrapper{
  text-align: center;


  .slogan{
    background-color: $greenColor;
    display: inline-block;
    text-align: center;
    margin: 80px auto 20px;
    padding: 6px 11px 3px;
    border-radius: 9px;
    font-size: 1.8rem;
    line-height: 18px;
  }
  .manager,.email{
    text-align: center;
    color:$lightBlue;
    display: block;
    font-size: 1.8rem;
    line-height: 18px;
  }
  .mainContent{
    color:$textColor;
    text-align: right;
    font-size: 1.9rem;
    padding: 26px 4%;
    margin: 0 auto;
   span{
     color:$redColor;
   }
  }
  .lowerLogo{
    margin: 0 auto 20px;
    display: block;
    width: 70%;
  }
  .sponser{
    color: white;
    background: #b0c200;
    font-size: 18px;
    padding: 10px 5px;
    max-width: 90%;
    margin-bottom: 50px;
    border-radius: 10px;
  }
}



















