@charset "UTF-8";
@font-face {
  font-family: ButtonFont;
  src: url(../fonts/Hacen%20Tehran.ttf); }
@font-face {
  font-family: join;
  src: url(../fonts/Hacen%20Samra.ttf); }
@font-face {
  font-family: 'GE_SS_Two_Light';
  src: url("../fonts/GE_SS_Two_Light.woff") format("woff"), url("../fonts/GE_SS_Two_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GE_SS_Two_Bold';
  src: url("../fonts/GESSTwoBold-Bold.woff") format("woff"), url("../fonts/GESSTwoBold-Bold.ttf") format("truetype"), url("../fonts/GESSTwoBold-Bold.svg#GESSTwoBold-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  padding: 0;
  margin: 0;
  font-family: GE_SS_Two_Light;
  color: #3f3f3f;
  height: 100%;
  direction: rtl;
  font-size: 15px; }

html {
  height: 100%;
  font-size: 62.5%;
  font-weight: bold; }

*, .btn, label, span, p, input {
  font-weight: bold; }

.container {
  padding: 0;
  /* height: 100%;*/ }

.viewContainer {
  padding-top: 135px;
  padding-bottom: 60px; }

/*----------------Hamlaty page-------------------*/
.firstInput {
  height: 20%;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-left: 0;
  margin-top: 4%;
  display: inline-table;
  position: absolute;
  top: 21%;
  width: 75%;
  right: 12.5%; }
  .firstInput textarea {
    float: right;
    width: 83%;
    font-size: 1.5rem;
    margin-right: 2%;
    margin-top: 2%;
    outline: none;
    border: none;
    height: 95%;
    text-align: right;
    direction: rtl;
    resize: none; }
  .firstInput .toolBar {
    background-color: #25b1af;
    width: 15%;
    text-align: center;
    height: 100%;
    float: left;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px; }
    .firstInput .toolBar a {
      color: #fff;
      font-size: 2rem;
      outline: none; }

.addSchedule .mainDays {
  min-height: 40px;
  border: none;
  float: right;
  width: 98%;
  margin: 0; }
.addSchedule .mainDays:after {
  content: "Γû╝";
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box; }
.addSchedule .imageContainer {
  width: 95%;
  border-radius: 50px;
  display: inline-block;
  background-image: url("../images/header.png"); }
.addSchedule #mainImage {
  border-radius: 50px;
  width: 50%;
  float: right;
  display: none; }
.addSchedule .inputImgHidden {
  opacity: 0; }
.addSchedule .attachedImageName {
  display: none;
  font-size: 3rem;
  margin-right: -7%;
  z-index: 1000; }

.attachImage {
  background-image: none !important; }
  .attachImage #mainImage {
    display: block; }
  .attachImage .inputImgHidden {
    display: none; }
  .attachImage .attachedImageName {
    display: block; }

.pageSubTitle {
  color: white;
  font-size: 1.3rem;
  background-color: #43697C;
  padding: 6px 16px;
  margin: 0; }

.schedule, .news, .features {
  width: 95%;
  /* height: 38%;*/
  position: absolute;
  font-size: 3rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: right;
  padding-bottom: 10%; }
  .schedule .slick-list, .news .slick-list, .features .slick-list {
    height: 100%; }
    .schedule .slick-list .slick-track, .news .slick-list .slick-track, .features .slick-list .slick-track {
      height: 100%; }
      .schedule .slick-list .slick-track .slick-slide, .news .slick-list .slick-track .slick-slide, .features .slick-list .slick-track .slick-slide {
        overflow-y: scroll;
        float: right;
        padding: 0; }
  .schedule .step:before, .news .step:before, .features .step:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 9px;
    border-left: 1px solid #43697C; }
  .schedule .step .elementRepeated:before, .news .step .elementRepeated:before, .features .step .elementRepeated:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 7.5px;
    background-color: #E59921;
    position: relative;
    right: -36px;
    top: 6px; }
  .schedule .step .elementRepeatedPast:before, .news .step .elementRepeatedPast:before, .features .step .elementRepeatedPast:before {
    background-color: #C2CBD2; }
  .schedule .step .elementRepeatedNext:before, .news .step .elementRepeatedNext:before, .features .step .elementRepeatedNext:before {
    background-color: #a4b60e; }
  .schedule .step .elementRepeated, .news .step .elementRepeated, .features .step .elementRepeated {
    min-height: 43%;
    height: auto;
    font-size: 15px;
    width: 100%;
    padding: 10px 0; }
    .schedule .step .elementRepeated .time-div, .news .step .elementRepeated .time-div, .features .step .elementRepeated .time-div {
      display: inline-block;
      float: right;
      font-size: 15px;
      position: relative;
      right: 19px;
      top: 4px; }
      .schedule .step .elementRepeated .time-div label, .news .step .elementRepeated .time-div label, .features .step .elementRepeated .time-div label {
        font-family: sans-serif; }
        .schedule .step .elementRepeated .time-div label span, .news .step .elementRepeated .time-div label span, .features .step .elementRepeated .time-div label span {
          color: #a4b60e;
          display: block; }
    .schedule .step .elementRepeated .detailsCard, .news .step .elementRepeated .detailsCard, .features .step .elementRepeated .detailsCard {
      -webkit-box-shadow: 1px 0px 9px 0px rgba(50, 50, 50, 0.36);
      -moz-box-shadow: 1px 0px 9px 0px rgba(50, 50, 50, 0.36);
      box-shadow: 1px 0px 9px 0px rgba(50, 50, 50, 0.36);
      width: 75%;
      margin-left: 5%;
      float: left;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: inline-block;
      border-radius: 5px;
      padding: 10px;
      background-color: #F4F5F7; }
      .schedule .step .elementRepeated .detailsCard label.title, .news .step .elementRepeated .detailsCard label.title, .features .step .elementRepeated .detailsCard label.title {
        font-family: GE_SS_Two_Bold;
        font-size: 16px; }
      .schedule .step .elementRepeated .detailsCard img, .news .step .elementRepeated .detailsCard img, .features .step .elementRepeated .detailsCard img {
        width: 100%;
        margin: 15px 0; }
      .schedule .step .elementRepeated .detailsCard .labelBtn, .news .step .elementRepeated .detailsCard .labelBtn, .features .step .elementRepeated .detailsCard .labelBtn {
        font-size: 15px; }
        .schedule .step .elementRepeated .detailsCard .labelBtn i, .news .step .elementRepeated .detailsCard .labelBtn i, .features .step .elementRepeated .detailsCard .labelBtn i {
          font-size: inherit; }
      .schedule .step .elementRepeated .detailsCard .lowerTwoBtn, .news .step .elementRepeated .detailsCard .lowerTwoBtn, .features .step .elementRepeated .detailsCard .lowerTwoBtn {
        margin-top: 20px; }
        .schedule .step .elementRepeated .detailsCard .lowerTwoBtn .labelBtn.rightBtn, .news .step .elementRepeated .detailsCard .lowerTwoBtn .labelBtn.rightBtn, .features .step .elementRepeated .detailsCard .lowerTwoBtn .labelBtn.rightBtn {
          margin-left: 15px;
          color: #a4b60e; }
        .schedule .step .elementRepeated .detailsCard .lowerTwoBtn .labelBtn.leftBtn, .news .step .elementRepeated .detailsCard .lowerTwoBtn .labelBtn.leftBtn, .features .step .elementRepeated .detailsCard .lowerTwoBtn .labelBtn.leftBtn {
          color: #25b5b3; }
    .schedule .step .elementRepeated .stepInput, .news .step .elementRepeated .stepInput, .features .step .elementRepeated .stepInput {
      height: 43%;
      border: 1px solid #bbbbbb;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      padding-left: 0;
      margin-top: 15px;
      display: inline-table;
      width: 100%; }
      .schedule .step .elementRepeated .stepInput p, .news .step .elementRepeated .stepInput p, .features .step .elementRepeated .stepInput p {
        float: right;
        width: 84%;
        font-size: 1.5rem;
        margin-top: 2%;
        word-break: break-word;
        word-wrap: break-word; }
      .schedule .step .elementRepeated .stepInput textarea, .news .step .elementRepeated .stepInput textarea, .features .step .elementRepeated .stepInput textarea {
        float: right;
        width: 83%;
        font-size: 1.5rem;
        margin-right: 2%;
        margin-top: 2%;
        outline: none;
        border: none;
        height: 95%;
        text-align: right;
        direction: rtl;
        line-height: 1.5rem;
        resize: none; }
      .schedule .step .elementRepeated .stepInput .toolBar, .news .step .elementRepeated .stepInput .toolBar, .features .step .elementRepeated .stepInput .toolBar {
        background-color: #25b1af;
        width: 15%;
        text-align: center;
        height: 100%;
        float: left;
        border-radius: 8px 0 0 8px;
        -webkit-border-radius: 8px 0 0 8px;
        -moz-border-radius: 8px 0 0 8px; }
        .schedule .step .elementRepeated .stepInput .toolBar a, .news .step .elementRepeated .stepInput .toolBar a, .features .step .elementRepeated .stepInput .toolBar a {
          color: #fff;
          font-size: 2rem;
          outline: none; }
          .schedule .step .elementRepeated .stepInput .toolBar a i, .news .step .elementRepeated .stepInput .toolBar a i, .features .step .elementRepeated .stepInput .toolBar a i {
            display: inline; }

.news .step, .features .step {
  padding-bottom: 20%; }

form {
  padding: 0 5% 0;
  font-size: 13px;
  font-family: GE_SS_Two_Light; }
  form .control {
    width: 92%;
    margin: 0 auto 15px;
    text-align: left; }
    form .control label {
      direction: inherit;
      float: right;
      margin-right: 10%; }
    form .control .inputContainer {
      border: 1px solid #3f3f3f;
      border-radius: 50px;
      padding: 0px 10px;
      display: inline-block;
      width: 95%;
      overflow: hidden; }
    form .control .textareaContainer {
      padding: 5px 20px;
      width: 100%;
      margin-right: 2%; }
      form .control .textareaContainer a {
        float: left;
        margin-left: 0px;
        margin-bottom: 9px; }
      form .control .textareaContainer textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border: none;
        width: 100%;
        float: right;
        -webkit-appearance: textarea;
        border-radius: 50px;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        resize: none;
        padding: 5px 6px; }
    form .control .mapContainer {
      background-color: #25b5b3; }
      form .control .mapContainer label {
        height: 40px;
        margin: 0;
        line-height: 40px; }
    form .control a {
      font-size: 1.8rem;
      border: 1px solid #25b5b3;
      border-radius: 50px;
      width: 25px;
      display: inline-block;
      height: 25px;
      text-align: center;
      line-height: 25px;
      vertical-align: sub;
      float: left;
      margin-top: 7px;
      background-color: #25b5b3;
      color: #fff; }
    form .control input {
      width: 85%;
      padding: 0 5px;
      height: 40px;
      border-radius: 7px;
      color: #3f3f3f;
      outline: none;
      border: none;
      float: right; }
      form .control input input:focus {
        border-color: #25b1af; }
      form .control input .required {
        color: #be1212;
        font-size: 2rem; }
    form .control .inputContainer.hasError {
      border-color: #be1212; }
      form .control .inputContainer.hasError a {
        background-color: #be1212;
        border-color: #be1212; }
    form .control .inputContainer.noError {
      border-color: #a4b60e; }
      form .control .inputContainer.noError a {
        background-color: #a4b60e;
        border-color: #a4b60e; }
    form .control .alert {
      color: #be1212;
      font-size: 12px;
      text-align: right;
      padding: 0 30px;
      margin-bottom: 0; }
      form .control .alert span {
        font-size: 13px; }

.time-picker {
  width: 92%;
  margin: 0 auto 15px;
  text-align: left; }
  .time-picker .container {
    border: 1px solid #3f3f3f;
    border-radius: 50px;
    padding: 0px 10px;
    display: inline-block;
    width: 95%; }
    .time-picker .container .form-group {
      height: 40px;
      margin-bottom: 0; }
    .time-picker .container .input-group {
      width: 100%; }
    .time-picker .container input.form-control {
      border: none;
      height: 40px;
      outline: none;
      padding: 0;
      border-radius: 50px;
      float: right;
      width: 85%;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
    .time-picker .container .input-group-addon {
      background-color: #25b5b3;
      color: white;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      padding: 0px !important;
      float: left;
      border: none;
      line-height: 27px;
      margin-top: 7px; }
  .time-picker .timepickerError {
    color: #be1212;
    text-align: right;
    width: 80%;
    margin: 0 auto;
    display: none; }
  .time-picker .container.hasError {
    border-color: #be1212; }
    .time-picker .container.hasError .input-group-addon {
      background-color: #be1212; }
  .time-picker .container.noError {
    border-color: #a4b60e; }
    .time-picker .container.noError .input-group-addon {
      background-color: #a4b60e; }
  .time-picker .bootstrap-datetimepicker-widget.dropdown-menu {
    direction: ltr; }
  .time-picker .btn-primary {
    background-color: #25b5b3;
    border-color: #25b5b3; }
  .time-picker .list-unstyled {
    padding: 0; }
  .time-picker .btn {
    margin: 0px auto 0;
    text-align: center; }
  .time-picker .bootstrap-datetimepicker-widget table td span {
    color: #25b5b3; }
  .time-picker .timepicker-hour, .time-picker .timepicker-minute {
    color: #000000 !important; }

.orangeBtn {
  background-color: #fca933;
  color: #fff;
  font-size: 15px; }

.redBtn {
  background-color: #be1212;
  color: #fff;
  font-size: 2rem; }

.lightBlueBtn {
  background-color: #25b1af;
  color: #fff;
  font-size: 15px; }

.link {
  color: #25b1af;
  font-size: 16px;
  display: block;
  text-align: center;
  padding: 10px;
  font-family: GE_SS_Two_Light; }

.btn {
  width: 60%;
  margin: 20px auto 0;
  display: block !important;
  font-family: GE_SS_Two_Light;
  padding: 3px; }

.registerPopUp {
  display: inline-block !important;
  width: 35%; }

header {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 150;
  background-color: #fff;
  left: 0;
  margin: 0 auto;
  right: 0; }
  header .mainHeader {
    height: 50px;
    background-color: #43697C;
    color: white; }
  header .subHeader {
    /* background-image: url(../images/header.png); */
    height: 50px;
    background-color: #a4b60e;
    position: fixed;
    width: 100%;
    margin-top: 3px; }
  header label {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 60px;
    font-size: 1.8rem;
    font-weight: bold;
    left: 0;
    right: 0;
    margin: 0 auto;
    direction: ltr; }
  header h3 {
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px; }
  header .backIcon {
    color: #fff;
    left: 3%;
    position: absolute;
    top: -3%;
    font-size: 16px;
    text-align: center;
    display: flex;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-left: 3%;
    border: 2px solid #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transform-style: preserve-3d; }
    header .backIcon i {
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  header .logOutIcon {
    color: #fff;
    left: 1%;
    position: absolute;
    top: 8%;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 3%; }

.footer {
  height: 50px;
  position: fixed;
  bottom: 0 !important;
  right: 0;
  width: 100%;
  background-image: url("../images/sliderFooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

.fixfixed {
  display: none !important; }

.loadingIcon {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 24%;
  text-align: center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8); }
  .loadingIcon div {
    position: relative;
    top: 21%; }
  .loadingIcon img {
    width: 15%; }
  .loadingIcon p {
    position: relative;
    font-size: 12px;
    margin: 0; }

.showData {
  padding: 0 2% 0; }
  .showData .infoRow span {
    font-size: 1.6rem;
    color: #3f3f3f; }
  .showData .infoRow .infoTitle {
    width: 40%;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 10px; }
  .showData .infoRow .infoData {
    color: #25b1af; }

.dashboardWrapper {
  margin: 0 auto;
  width: 100%;
  font-size: 0;
  direction: ltr; }
  .dashboardWrapper .dashboardItem {
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0; }
    .dashboardWrapper .dashboardItem img {
      width: 50%; }

.registerModals {
  font-size: 1.5rem;
  text-align: center; }
  .registerModals .modal-dialog {
    margin: 40% 5%; }
    .registerModals .modal-dialog .modal-content .modal-body {
      /* height: 100px;*/ }
      .registerModals .modal-dialog .modal-content .modal-body span {
        position: absolute;
        top: -25%;
        left: 0;
        right: 0;
        color: #777;
        width: 5rem;
        margin: 0 auto;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        display: inline-table;
        background-color: #ffffff; }
        .registerModals .modal-dialog .modal-content .modal-body span i {
          font-size: 5rem; }
      .registerModals .modal-dialog .modal-content .modal-body p {
        margin-top: 40px; }
    .registerModals .modal-dialog .modal-content .modal-footer {
      text-align: center; }

.success .modal-dialog .modal-content span i, .successOk .modal-dialog .modal-content span i {
  color: #b3c12d; }

#mapPopUp .modal-dialog {
  height: 90%;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%; }
#mapPopUp .modal-content {
  height: 100%; }
#mapPopUp .modal-body {
  height: 90%; }
#mapPopUp .modal-footer {
  height: 10%;
  padding: 5px; }
  #mapPopUp .modal-footer .btn {
    margin: 3% auto 0; }

.directoryForm label {
  width: 95%;
  text-align: right; }

.slick-slider .leftArr {
  position: fixed;
  z-index: 10000;
  left: 3px;
  bottom: -3px;
  width: 43px; }
.slick-slider .rightArr {
  position: fixed;
  z-index: 10000;
  right: 3px;
  bottom: -3px;
  width: 43px; }
.slick-slider .slick-dots {
  position: fixed;
  bottom: 0px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  z-index: 9999;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto; }
.slick-slider .slick-dots li button:before {
  font-size: 16px;
  color: #ffffff; }

/*--FAQ Page--*/
.faqContainer {
  padding-bottom: 70px; }
  .faqContainer .faqHeader {
    margin-top: 2%;
    margin-bottom: 1%;
    color: #25b1af;
    font-size: 5.5rem;
    width: 100%;
    text-align: center; }
  .faqContainer .showMore {
    color: #25b1af;
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block; }
  .faqContainer .showMore:active {
    text-decoration: underline; }
  .faqContainer .panel-group {
    padding: 2% 3% 100px;
    width: 90%;
    margin: 0 auto;
    direction: rtl; }
    .faqContainer .panel-group .panel-default {
      border-radius: 4px;
      background: none;
      margin-top: 3px; }
      .faqContainer .panel-group .panel-default .panel-heading {
        padding: 0;
        border-radius: 4px;
        background-color: #25b5b3; }
        .faqContainer .panel-group .panel-default .panel-heading .panel-title a {
          text-decoration: none;
          color: #ffffff;
          width: 100%;
          display: block;
          padding: 10px 10px;
          font-size: 1.8rem; }
          .faqContainer .panel-group .panel-default .panel-heading .panel-title a .plus {
            display: none;
            float: left;
            color: #25b1af; }
          .faqContainer .panel-group .panel-default .panel-heading .panel-title a .close {
            display: inline-block;
            float: left;
            color: #25b1af;
            opacity: 1;
            font-size: 2rem; }
        .faqContainer .panel-group .panel-default .panel-heading .panel-title a.collapsed .plus {
          display: inline-block;
          float: left; }
        .faqContainer .panel-group .panel-default .panel-heading .panel-title a.collapsed .close {
          display: none;
          float: left; }
      .faqContainer .panel-group .panel-default .panel-collapse {
        background-color: #ffffff;
        border-radius: 0 0 4px 4px; }
        .faqContainer .panel-group .panel-default .panel-collapse img {
          width: 80% !important; }
        .faqContainer .panel-group .panel-default .panel-collapse .panel-body {
          padding: 5px 10px;
          color: #3f3f3f;
          font-size: 1.8rem; }
          .faqContainer .panel-group .panel-default .panel-collapse .panel-body iframe {
            height: 500px;
            width: 780px;
            display: block;
            margin: 20px auto; }
          .faqContainer .panel-group .panel-default .panel-collapse .panel-body span, .faqContainer .panel-group .panel-default .panel-collapse .panel-body p {
            display: block;
            line-height: 32px !important;
            color: #3f3f3f !important;
            font-size: 1.6rem !important; }
          .faqContainer .panel-group .panel-default .panel-collapse .panel-body li {
            display: block;
            line-height: 30px !important;
            color: #ccc !important;
            font-size: 1.7rem !important;
            font-family: #3f3f3f; }
          .faqContainer .panel-group .panel-default .panel-collapse .panel-body img {
            display: block;
            margin: 30px auto;
            width: 600px; }
          .faqContainer .panel-group .panel-default .panel-collapse .panel-body br {
            display: none !important; }
          .faqContainer .panel-group .panel-default .panel-collapse .panel-body a {
            line-height: 25px !important;
            color: #fff !important;
            font-size: 1.8rem !important;
            background: none !important;
            text-decoration: underline; }

@media screen and (max-width: 480px) {
  .firstInput {
    top: 31%; } }

/*# sourceMappingURL=main.css.map */
