@font-face {
  font-family: ButtonFont;
  src: url(../fonts/Hacen%20Tehran.ttf);
}

@font-face {
  font-family: join;
  src: url(../fonts/Hacen%20Samra.ttf);
}
@font-face {
  font-family: 'GE_SS_Two_Light';
  src:
  url('../fonts/GE_SS_Two_Light.woff') format('woff'),
  url('../fonts/GE_SS_Two_Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GE_SS_Two_Bold';
  src: url('../fonts/GESSTwoBold-Bold.woff') format('woff'),
  url('../fonts/GESSTwoBold-Bold.ttf') format('truetype'),
  url('../fonts/GESSTwoBold-Bold.svg#GESSTwoBold-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


$lightBlue:#25b1af;
$redForError:#DA7070;
$textColor:#3f3f3f;
$pageTitleHeader:#020202;
$lightGray:#bbbbbb;
$orange:#fca933;
$moutawfBlue: #47BEC6;
$moutawfGreen: #a4b60e;
$whiteColor: #ffffff;
$hamltyHeaderColor: #555;
$cardBG: #F4F5F7;
$headerColor: #43697C;
$poletGary:#C2CBD2;
$poletOrange:#E59921;
$formGray : #989898;


body{
  padding: 0;
  margin: 0;
  font-family: GE_SS_Two_Light;
  color:$textColor;
  height: 100%;
  direction: rtl;
  font-size: 15px;
}
html{
  height: 100%;
  font-size: 62.5%;
  font-weight: bold;
}
*,.btn, label, span, p,input{
  font-weight: bold;
}
.container{
  padding: 0;
 /* height: 100%;*/
}
.viewContainer{
  padding-top: 120px;
//  padding-top: 70px;
  padding-bottom: 60px;
}
/*----------------Hamlaty page-------------------*/
.firstInput {
  height: 20%;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding-left: 0;
  margin-top: 4%;
  display: inline-table;
  position: absolute;
  top: 21%;
  width: 75%;
  right: 12.5%;

  textarea {
    float: right;
    width: 83%;
    font-size: 1.5rem;
    margin-right: 2%;
    margin-top: 2%;
    outline: none;
    border: none;
    height: 95%;
    text-align: right;
    direction: rtl;
    resize: none;
  }

  .toolBar {
    background-color: $lightBlue;
    width: 15%;
    text-align: center;
    height: 100%;
    float: left;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;

    a {
      color: #fff;
      font-size: 2rem;
      outline: none;
    }
  }
}

.addSchedule{

  .mainDays {

    min-height: 40px;
    border: none;
    float: right;
    width: 98%;
    margin: 0;


  }
  .mainDays:after{

    content:"▼";
    padding: 12px 8px;
    position: absolute; right: 10px; top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;

  }

  .imageContainer {
    width: 100%;
    display: inline-block;
    position: relative;

    }

  #defaultImage{
    display: block;
    width: 100%;
  }
    #mainImage{
      border-radius: 50px;
      width: 90%;
      float: right;
      display: none;
    }
    .inputImgHidden{
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

    }
    .attachedImageName{
      display: none;
      font-size: 3rem;
      margin-right: -7%;
      z-index: 1000;
    }


}

.attachImage{

    background-image: none !important;
  #defaultImage{
    display: none;
  }
  #mainImage{
    display: block;
  }
  .inputImgHidden{
    display: none;
  }
  .attachedImageName{
    display: block;
  }
}
.pageSubTitle{
  color: white;
  font-size: 1.3rem;
  background-color: #43697C;
  padding: 6px 16px;
  margin: 0;
}
.schedule, .news,.features{

  width: 95%;
 /* height: 38%;*/

  position: absolute;
  font-size: 3rem;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: right;
  padding-bottom: 100px;

  .slick-list{
    height: 100%;

    .slick-track{
      height: 100%;

      .slick-slide{
        overflow-y: scroll;

        float: right;
        padding: 0;

      }
    }
  }

  .step:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 9px;
    border-left: 1px solid $headerColor;
//    transform: translate(-50%);
  }
  .step {
    .elementRepeated:before{
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 7.5px;
      background-color: $poletOrange ;
      position: relative;
      right: -36px;
      top: 6px;

    }
    .elementRepeatedPast:before{
      background-color: $poletGary;

    }
    .elementRepeatedNext:before{
      background-color: $moutawfGreen;

    }
    .elementRepeated {
      min-height: 43%;
      height: auto;
      font-size: 15px;
      width: 100%;
      padding: 10px 0;
      .time-div{
        display: inline-block;
        float: right;
        font-size: 15px;
        position: relative;
        right: 19px;
        top: 4px;
        label{
          font-family: sans-serif;
        }
        span{
          color: $moutawfGreen;
          display: block;
        }

      }

      .detailsCard{
        -webkit-box-shadow: 1px 0px 9px 0px rgba(50, 50, 50, 0.36);
        -moz-box-shadow:    1px 0px 9px 0px rgba(50, 50, 50, 0.36);
        box-shadow:         1px 0px 9px 0px rgba(50, 50, 50, 0.36);
        width: 75%;
        margin-left: 5%;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: inline-block;
        border-radius: 5px;
        padding: 10px;
        background-color: $cardBG;
        label.title{
          font-family: GE_SS_Two_Bold;
          font-size: 16px;
        }
        img{
          width: 100%;
          margin: 15px 0;
        }
        .labelBtn{
          font-size: 15px;

              i{
                font-size: inherit;
              }


        }

        .lowerTwoBtn {

          font-size: 14px;
          margin-top: 20px;
          .labelBtn.rightBtn {
            margin-left: 15px;
            color: $moutawfGreen;
            font-size: inherit;
          }
          .labelBtn.leftBtn {
            color: $moutawfBlue;
            font-size: inherit;
            a{
              color: $moutawfBlue;
              text-decoration: none;
            }
          }
        }
      }
      .stepInput {
        height: 43%;
        border: 1px solid $lightGray;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        padding-left: 0;
        margin-top: 15px;
        display: inline-table;
        width: 100%;


        p {
          float: right;
          width: 84%;
          font-size: 1.5rem;
          margin-top: 2%;
          word-break: break-word;
          word-wrap: break-word;
        }
        textarea {
          float: right;
          width: 83%;
          font-size: 1.5rem;
          margin-right: 2%;
          margin-top: 2%;
          outline: none;
          border: none;
          height: 95%;
          text-align: right;
          direction: rtl;
          line-height: 1.5rem;
          resize: none;
        }

        .toolBar {
          background-color: $lightBlue;
          width: 15%;
          text-align: center; height: 100%;
          float: left;
          border-radius: 8px 0 0 8px;
          -webkit-border-radius: 8px 0 0 8px;
          -moz-border-radius: 8px 0 0 8px;

          a {
            color: #fff;
            font-size: 2rem;
            outline: none;
            i{
              display: inline;
            }
          }
        }
      }
    }


  }
}
.news, .features {
  .step{
    padding-bottom: 20%;
  }
}

form{
  padding: 0 5% 0;
  font-size: 13px;
  font-family: GE_SS_Two_Light;
  .control{
    width: 92%;
    margin: 0 auto 15px;
    text-align: left;

      label{
        direction: inherit;
        float: right;
        margin-right: 5%;
        color: $formGray;
      }
      .inputContainer{

        border: 1px solid $formGray;
        border-radius: 50px;
        padding: 0px 10px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
      }
      .textareaContainer{
        padding: 5px 20px;
        width: 100%;
        margin-right: 2%;
        a{
          float: left;
          margin-left: 0px;
          margin-bottom: 9px;
        }
        textarea{
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;
          border: none;
          width: 100%;
          float: right;
          -webkit-appearance: textarea;
          border-radius: 50px;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          resize: none;
          padding: 5px 6px;
        }
      }

      .mapContainer{
        background-color: $moutawfBlue;

        label{
          height: 40px;
          margin: 0;
          line-height: 40px;
          color: white;
        }
        a{
          border: 1px solid;
        }
      }


      a{
        font-size: 1.7rem;
        border: 1px solid $moutawfBlue;
        border-radius: 50px;
        width: 25px;
        display: inline-block;
        height: 25px;
        text-align: center;
        line-height: 27px;
        vertical-align: sub;
        float: left;
        margin-top: 7px;
        background-color: $moutawfBlue;
        color: #fff;

      }
      input{
        width: 85%;
        padding: 0 5px;
        height: 40px;
        border-radius: 7px;
        color:$textColor;
        outline:none;
        border: none;
        float: right;

        input:focus{
          border-color: $lightBlue;
        }

        .required{
          color:$redForError;
          font-size: 2rem;
        }


    }



    .inputContainer.hasError{
      border-color: $redForError;
      a{
        background-color: $redForError;
        border-color: $redForError;

      }
    }
    .inputContainer.noError{
      border-color: $moutawfGreen;
      a{
        background-color: $moutawfGreen;
        border-color: $moutawfGreen;

      }
    }
    .alert{
      color:$redForError;
      font-size: 12px;
      text-align: right;
      padding: 0 30px;
      margin-bottom: 0;
      span{
        font-size: 13px;
      }
    }
  }

}


.time-picker{
  width: 92%;
  margin: 0 auto 15px;
  text-align: left;
  font-family: sans-serif;
  label{
    direction: inherit;
    float: right;
    margin-right: 5%;
    color: $formGray;
  }
  .container {
    border: 1px solid $formGray;
    border-radius: 50px;
    padding: 0px 10px;
    display: inline-block;
    width: 100%;

        .row{

        }

        .form-group {
          height: 40px;
          margin-bottom: 0;
        }

        .input-group{
          width: 100%;
        }

        input.form-control{
          border: none;
          height: 40px;
          outline: none;
          padding: 0;
          border-radius: 50px;
          float: right;
          width: 85%;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }

      .input-group-addon {
        background-color: $moutawfBlue;
        color: white;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        padding: 0px !important;
        float: left;
        border: none;
        line-height: 27px;
        margin-top: 7px;

      }




  }

  .timepickerError
  {
    color: $redForError ;
    text-align: right;
    width: 80%;
    margin: 0 auto;
    display: none;

  }
  .container.hasError{
    border-color: $redForError;
    .input-group-addon{
      background-color: $redForError;
    }
  }

  .container.noError{
    border-color: $moutawfGreen;
    .input-group-addon{
      background-color: $moutawfGreen;
    }
  }

  .bootstrap-datetimepicker-widget.dropdown-menu{
    direction: ltr;

  }
  .btn-primary{
    background-color: $moutawfBlue;
    border-color: $moutawfBlue;
  }

  .list-unstyled{
    padding: 0;
  }
  .btn{
    margin: 0px auto 0;
    text-align: center;
  }
  .bootstrap-datetimepicker-widget table td span{
    color: $moutawfBlue;
  }
  .timepicker-hour, .timepicker-minute{
    color: #000000 !important;
  }

}
.orangeBtn{
  background-color: $orange;
  color:#fff;
  font-size: 15px;
}
.redBtn{
  background-color: $redForError;
  color:#fff;
  font-size: 2rem;
}
.lightBlueBtn {
  background-color: $lightBlue;
  color: #fff;
  font-size:15px;
}
.link{
   color: $lightBlue !important;
  font-size: 16px;
  display: block;
  padding: 0;
  font-family: GE_SS_Two_Light;
  width: 93%;
  text-align: left;
  text-decoration: none !important;
  font-weight: 500;
}
.addNewOne{
  position: fixed;
  bottom: 30px;
  left: 22px;
  a {
    width: 65px;
    height: 65px;
    display: block;
    left: 0;
    background: $moutawfBlue;
    text-align: center;
    border-radius: 50px;
    font-size: 32px;
    color: white;
    line-height: 63px;
    border: 3px solid white;
  }
}
.link#newHamla{
  color: $hamltyHeaderColor !important;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.btn{
  width: 60%;
  margin: 20px auto 0;
  display: block !important;
  font-family: GE_SS_Two_Light;
  padding: 10px 3px;
  width: 90%;

}
.registerPopUp{
  display: inline-block !important;
  width: 35%;
}
header {

    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 150;
    background-color: #fff;
    left: 0;
    margin: 0 auto;
    right: 0;

  .mainHeader{
    height: 50px;
    background-color: $headerColor;
    color: white;
  }
  .subHeader{
    background-image: url(../images/header.png);
    height: 45px;
    background-color: $moutawfGreen;
    position: fixed;
    width: 100%;
    margin-top: 2px;
    background-size: inherit;
    background-repeat: no-repeat;
  }
  label{

    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 60px;
    font-size: 1.8rem;
    font-weight: bold;
    left: 0;
    right: 0;
    margin: 0 auto;
    direction: ltr;

  }
  h3 {
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 16px;
  }
  .backIcon{
    color: #fff;
    left: 3%;
    position: absolute;
    top: -3%;
    font-size: 16px;
    text-align: center;
    display: flex;
    width: 25px;
    height: 25px;
    margin-top: 15px;
    margin-left: 3%;
    border: 2px solid #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transform-style: preserve-3d;
    i{
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .logOutIcon{
    color: #fff;
    left: 1%;
    position: absolute;
    top: 8%;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 3%;

  }
}

.footer{
  height: 50px;
  position: fixed;
  bottom: 0 !important;
  right: 0;
  width: 100%;
  background-image: url("../images/sliderFooter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

}
.fixfixed {
 display: none !important;
}
.loadingIcon{

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 24%;
  text-align: center;
  z-index: 999;
  background-color: rgba(255,255,255,0.8);

div{
    position: relative;
    top: 21%;
  }

  img{
    width: 15%;
  }
  p{       position: relative;
    font-size: 12px;
    margin: 0;
  }
}
.showData{
  padding: 0 2% 0;
  .infoRow{
    span{
      font-size: 1.6rem;
      color:$textColor;
    }
    .infoTitle{
      width: 40%;
      display: inline-block;
      text-align: left;
      padding-left: 5px;
      margin-bottom: 10px;
    }
    .infoData{
      color:$lightBlue;
    }
  }
}

.dashboardWrapper{
  margin: 0 auto;
  width: 100%;
  font-size: 0;
  direction: ltr;
  .dashboardItem{
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    img{
      width: 50%;
    }
  }
}
.registerModals{
  font-size: 1.5rem;
  text-align: center;
  .modal-dialog {
    margin: 40% 5%;

    .modal-content{
        .modal-body{
       /* height: 100px;*/
        span{
          position: absolute;
          top: -25%;
          left: 0;
          right: 0;
          color: #777;
          width: 5rem;
          margin: 0 auto;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          display: inline-table;
          background-color: #ffffff;
          i{
            font-size: 5rem;
          }
        }

        p{
          margin-top: 40px;
        }
      }
      .modal-footer{
        text-align: center;
      }
    }
  }

}
.success, .successOk{
  .modal-dialog{
    .modal-content{
      span{
        i{
          color: #b3c12d;
        }
      }
    }
  }
}


#mapPopUp{
  .modal-dialog{
    height: 90%;
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
  }
  .modal-content{
    height: 100%;
  }
  .modal-body{
    height: 90%;
  }
  .modal-footer{
    height: 10%;
    padding: 5px;
    .btn{
      margin: 3% auto 0;
      padding: 5px 3px;
      background-color: $moutawfBlue;
      color:white;
    }
  }
}
.directoryForm{
  label{
    width: 95%;
    text-align: right;
  }
}

.slick-slider{
  .leftArr{
    position: fixed;
    z-index: 1000;
    left: 15%;
    width: 25px;
    top: 57px;
    height: 25px;
    color: white;
  }
  .rightArr{
    position: fixed;
    z-index: 1000;
    right: 18%;
    width: 25px;
    top: 57px;
    height: 25px;
    color: white;
  }
  .slick-dots {
    position: fixed;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    z-index: 9999;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .slick-dots li button:before{
    font-size: 16px;
    color: $whiteColor;
  }
}





/*--FAQ Page--*/
.faqContainer{

  padding-bottom: 70px;
  .faqHeader{
    margin-top: 2%;
    margin-bottom: 1%;
    color:$lightBlue;
    font-size: 5.5rem;
    width: 100%;
    text-align: center;

  }
  .showMore{
    color:$lightBlue;
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: block;

  }
  .showMore:active{
    text-decoration: underline;
  }
  .panel-group{
    padding: 2% 3% 100px;
    width: 90%;
    margin: 0 auto;
    direction: rtl;

    .panel-default{
      border-radius: 4px;
      background: none;
      margin-top: 3px;
      .panel-heading{
        padding: 0;
        border-radius: 4px;
        background-color: $moutawfBlue;

        //        border-bottom-right-radius: 0;
        //        border-bottom-left-radius: 0;
        .panel-title{

          a{

            text-decoration: none;
            color: $whiteColor;
            width: 100%;
            display: block;
            padding: 10px 10px;
            font-size: 1.8rem;
            .plus{
              display: none;
              float: left;
              color:$lightBlue;
            }
            .close{
              display: inline-block;
              float: left;
              color: $lightBlue;
              opacity: 1;
              font-size: 2rem;
            }
          }
          a.collapsed{
            .plus{
              display: inline-block;
              float: left;
            }
            .close{
              display: none;
              float:left
            }
          }
        }
      }
      .panel-collapse{
        background-color: $whiteColor;
        border-radius: 0 0 4px 4px;
          img{
            width: 80% !important;
          }
        .panel-body{
          padding: 5px 10px;
          color: $textColor;
          font-size: 1.8rem;

          iframe{
            height: 500px;
            width: 780px;
            display:block;
            margin:20px auto;
          }
          span,p{
            display: block;
            line-height: 32px !important;
            color: $textColor !important;
            font-size: 1.6rem !important;
          }
          li{
            display: block;
            line-height: 30px !important;
            color: #ccc !important;
            font-size: 1.7rem !important;
            font-family: $textColor;
          }
          img{
            display: block;
            margin: 30px auto;
            width:600px;
          }
          br{
            display: none !important;
          }
          a{
            line-height: 25px !important;
            color: #fff !important;
            font-size: 1.8rem !important;
            background: none !important;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {

  .dashboardWrapper{
//    top:28%
  }
  .firstInput {
    top: 31%;
  }
  .schedule, .news, .features{
//    top:54%;
  }
}
