@font-face {
  font-family: 'mutaweficons';
  src: url('../fonts/mutaweficons.eot?16572423');
  src: url('../fonts/mutaweficons.eot?16572423#iefix') format('embedded-opentype'),
       url('../fonts/mutaweficons.woff2?16572423') format('woff2'),
       url('../fonts/mutaweficons.woff?16572423') format('woff'),
       url('../fonts/mutaweficons.ttf?16572423') format('truetype'),
       url('../fonts/mutaweficons.svg?16572423#mutaweficons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mutaweficons';
    src: url('../font/mutaweficons.svg?16572423#mutaweficons') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mutaweficons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.demo-icon {
  font-family: "mutaweficons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


.icon-attention-circled:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-trash-1:before { content: '\e807'; } /* '' */
.icon-trash-2:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-pencil-circled:before { content: '\e80a'; } /* '' */
.icon-edit-alt:before { content: '\e80b'; } /* '' */
.icon-edit-1:before { content: '\e80c'; } /* '' */
.icon-right-open-big:before { content: '\e80d'; } /* '' */
.icon-left-open-big:before { content: '\e80e'; } /* '' */
.icon-up-open-big:before { content: '\e80f'; } /* '' */
.icon-down-open-big:before { content: '\e810'; } /* '' */
.icon-up-open:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-down-open:before { content: '\e814'; } /* '' */
.icon-up-circle:before { content: '\e815'; } /* '' */
.icon-right-circle:before { content: '\e816'; } /* '' */
.icon-left-circle:before { content: '\e817'; } /* '' */
.icon-down-circle:before { content: '\e818'; } /* '' */
.icon-left-circled:before { content: '\e819'; } /* '' */
.icon-right-circled:before { content: '\e81a'; } /* '' */
.icon-left:before { content: '\e81b'; } /* '' */
.icon-power:before { content: '\e81c'; } /* '' */
.icon-logout:before { content: '\e81d'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
