@charset "UTF-8";
* {
    /*  -webkit-touch-callout: none;  */              /* prevent callout to copy image, etc when tap to hold */
    /*-webkit-text-size-adjust: none; */            /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none; */                 /* prevent copy paste, to allow, change 'none' to 'text' */
}
@font-face {
    font-family: 'GE_SS_Two_Light';
    src:
    url('../fonts/GE_SS_Two_Light.woff') format('woff'),
    url('../fonts/GE_SS_Two_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GE_SS_Two_Bold';
    src: url('../fonts/GESSTwoBold-Bold.woff') format('woff'),
    url('../fonts/GESSTwoBold-Bold.ttf') format('truetype'),
    url('../fonts/GESSTwoBold-Bold.svg#GESSTwoBold-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 62.5%; }

body {
    padding: 0;
    background-color: #f8f8f8;

}




.mainNewsDetailsWrapper .actualNewsWrapper {
    padding: 10px 2%; }

.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails {
    padding: 0 0 20px;
    font-size: 0; }
.dataContainer{

    padding: 15px;
    border-radius: 10px;
    min-height: 110px;
    background-color: white;
    -webkit-box-shadow: 6px -4px 28px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 6px -4px 28px -5px rgba(0,0,0,0.37);
    box-shadow: 6px -4px 28px -5px rgba(0,0,0,0.37);

    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsImage {
    width: 100%;
    display: block;
    margin: 0 auto;
    /* right: 4%; */
    border: 1px solid #D6D6D6; }
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeader {
    color: #000;
    font-family: "printOut", Sans-Serif;
    text-align: right;
    direction: rtl;
    font-size: 3.5rem;
    margin: 0;
    width: 98%;
    display: inline-block;
    line-height: 3.2rem; }
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo {
    padding: 0;
    direction: rtl;
    float: right;
    width: 100%; }
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo img{
    width: 22%;
    border-radius: 50%;
    display: inline-block;
}
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo .thisNewsInfo {
    font-family: "linerScreen", Sans-Serif;
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    padding: 5px 5px;
    direction: rtl;}
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo .thisNewsInfo h3{
    font-size: 2.1rem;
    margin: 0;
    font-family: "GE_SS_Two_Bold";
    color: #3e7f9d;
}
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo .thisNewsInfo .dateAndTime {
    direction: rtl;
    color: #525053;
    font-weight: normal;
    font-size: 1.6rem;
     }
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo .thisNewsInfo .dateAndTime i {
    font-size: 2rem;
}
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeaderInfo .thisNewsInfo .dateAndTime i:before {
    margin-left: 5px;
}
.socials{

    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 10px;
    direction: rtl;


}
.socials div{
    position: relative;
    height: inherit;
    display: inline-block;
    margin-right: 8px;
    width: 20%;
    text-align: center;
}
.socials div#report{
    width: 25%;
    font-size: 1.5rem;
    font-family: GE_SS_Two_Light;
}
.socials div span, .socials div i{
    font-size: 1.8rem;
}
.socials div span{
    margin-right:5px;
    color: #545454;
}

.socials div i{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-color: #fff;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    border: 1px solid;
}
.socials .share i{
    color: #24507d;
}
.socials .comment i{
    color : #44c0c8;
}

.socials .report i{
    color: #b2101b;
}
.socials .like i{
    color: #a3b20d;
}
.socials .like i.active{ color: #fff; background-color: #a3b20d}
.socials .report i.active{ color: #fff; background-color: #b2101b}
.socials .comment i.active{ color: #fff; background-color: #44c0c8}
.socials .share i.active{ color: #fff; background-color: #24507d}
/*                                   start comment style                             */
.smallLoad{
    width: 20px;
    height: 20px;
    display: none;
    margin-left: 3%;
    margin-top: 7px;
}

#removeLoading{
    width: 13px;
    height: 15px;
    min-height: 0;
    min-width: 0;
    margin-top: 11px;

}
.smallLoad#commentLoad{
    margin-bottom: 6px;
    margin-right: 5px;
}
.commentError{
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #3e7f9d;
    display: none;
    margin: 8px 0;
}
.commentSection{
    direction: rtl;
    display: inline-block;
    width: 100%;
    /* border-bottom: 1px lightgrey solid; */
    border-top: 1px lightgrey solid;
    padding: 10px 0px 10px;
    float: right;
    position: fixed;
    bottom: 0;

    right: 0;
    text-align: center;
    background-color: #ffffff;

}
.addComment{
    background-color: white;
    display: inline-block;
    width: 88%;
    border-radius: 50px;
    padding: 0 4%;
    overflow: hidden;
    border: 1px lightgrey solid;
    min-height: 40px;
}
.commentSection #userImage{
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
    border-radius: 5px;
    display: none;
}
.commentSection textarea{
    width: 75%;
    /* min-height: 40px; */
    /* height: auto; */
    min-height: 30px;
    height: 30px;
    font-size: 2.3rem;
    color: #868686;
    padding: 2px 10px;
    resize: none;
    display: inline-block;
    -webkit-appearance: textarea;
    /* border-radius: 50px; */
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    float: right;
    padding-right: 15px;
    line-height: 30px;
    margin-top: 3px;
}

.commentSection .sentBtn{
    /* -ms-transform: rotate(180deg); */
    /* -ms-transform-origin: 20% 40%; */
    /* -webkit-transform: rotate(180deg); */
    /* -webkit-transform-origin: 40% 40%; */
    /* transform: rotate(180deg); */
    /* transform-origin: 40% 40%; */
    background-color: transparent;
    border: none;
    font-size: 4rem;
    color: #3e7f9d;
    display: inline-block;
    vertical-align: middle;
    float: left;
    border-right: 1px solid #d6d6d6;
    padding-right: 5px;
    padding-top: 5px;
    /*padding-left: 10px;*/



}
.commentSection button:focus {outline:0;}
.commentList{
    direction: rtl;
    display: inline-block;
    width: 94%;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 3%;

    -webkit-box-shadow: 6px -4px 28px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 6px -4px 28px -5px rgba(0,0,0,0.37);
    box-shadow: 6px -4px 28px -5px rgba(0,0,0,0.37);
    margin-bottom: 60px;



}
.my-listItem{
    margin-bottom:8px;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 8px;

}

.commentTextContent {
    display: inline-block;
    width:80%;
    margin-right: 5px;
}
.commentList p{
    font-size: 1.7rem;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 20px;

}
.commentList .userName{
    font-weight:600;
    color: #3e7f9d;
    font-family: "GE_SS_Two_Bold";

}
.commentList .userComment{
    line-height: 22px;
    font-size: 1.8rem;
    margin: 0;
    font-family: "GE_SS_Two_Light";


}
.commentList span{
    font-size: 12px;
    color: #818183;
    min-width: 100px;
    display: inline-block;
    visibility: visible !important;

}
.actions{
    visibility: hidden;
    display: inline-block;
}
.commentAction{
    width: 35px;
    height: 20px;
    font-size: 16px;
    margin-right: 6px;
    color: #8f9d00;
    display: inline-block;
    text-align: center;

}
.commentAction i {
    vertical-align: bottom;
    font-size: 1.5rem;
    font-family: GE_SS_Two_Light;
}
.commentList img{
    display: inline-block;
    width: 38px;
    height: 38px;
    margin: 1%;
    border-radius: 50%;
    float: right;
}

.loadingAction{
    display: none;
}
.loadingAction #removeLoading{


}
.confirmRemove{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    display: none;
}
.confirmRemove .message-box{
    width: 80%;
    height: 135px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: 35%;

}
.confirmRemove .header{
    background-color: #fff ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.confirmRemove a{
    font-size: 18px;
    height: 30px;
    width: 30px;
    display: inline-block;
    color: #8f9d00;
    margin-left: 15px;
    margin-top: 15px;
}
.confirmRemove .message{
    height: 22px;
    background-color: #fff;
}
.confirmRemove .message p {

    font-size: 2.2rem;
    direction: rtl;
    text-align: center;
    font-weight: 600;
    margin:  0;
    color: #808080;
}
.confirmRemove .footer{
    text-align: center;
    margin-top: 20px;
}
.confirmRemove .footer button{
    padding: 4px;
    border-radius: 5px;

    box-shadow: none;
    border: none;
    min-width: 80px;
    height: 27px;
    font-weight: 600;
    color: #807e7e;
    background-color: #ffffff;
    margin-right: 10px;
    border: 2px #807e7e solid;


}

.redButton{
    color: #ffffff !important;
    background-color: #8f9d00 !important;
    border: none !important;
}



/*                                   end comment style                             */


.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails hr {
    border-color: #879192;
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px; }
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .iframeContainer {
    font-size: 2rem;
    direction: rtl;
    font-family: 'GE_SS_Two_Light';
    width: 75%;
    line-height: 24px !important;
    min-height: 50px;
    margin-top: 0px;
    display: inline-block;
}
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .iframeContainer p {
    }
.mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .iframeContainer img {
    margin: 0 auto;
    display: block; }
.mainNewsDetailsWrapper .actualNewsWrapper .goToSourceLowerBtn {
    background-color: #3da696;
    font-family: "linerScreen", Sans-Serif;
    font-size: 2.5rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 22px;
    width: 45%;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    border: none;
    color: #fff;
    line-height: 42px;}
.mainNewsDetailsWrapper .actualNewsWrapper .goToSourceLowerBtn span {
    margin: 0 auto; }
.mainNewsDetailsWrapper .shareThisNewsWrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    display: none;
}
.mainNewsDetailsWrapper .shareIcons {
    text-align: center;
    width: auto;
    display: inline-block;
    margin: 0 auto; }
.mainNewsDetailsWrapper .shareIcons .socialBtn {
    width: 55px;
    height: 55px;
    display: table-cell;
    vertical-align: middle;
    box-sizing: content-box;
    background-clip: padding-box;
    background: none;
    padding: 4px; }
.mainNewsDetailsWrapper .shareIcons .socialBtn img {
    height: 100% !important; }

.loadingDiv {
    position: fixed;
    height: calc(100% - 90px);
    width: 100%;
    z-index: 9999;
    top: 90px; display: none;}
.loadingDiv img {
    height: 20px;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 10%;
    width: 20px;}
.loadingDiv .loading {
    display: block;
    font-size: 1.5rem;
    color: rgba(4, 32, 48, 0.95);
    height: 50px;
    position: absolute;
    top: calc(20% - 10px);
    right: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    font-family: "printOut", Sans-Serif; }

#loadMorComments{
    width: 20px;
    height: 20px;
    display: none;
    margin-left: 45%;
}
.facebookHeaderWrapper {
    padding: 0 !important;
    background-color: #fff !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    min-height: 25px;
    border-bottom: 1px solid #D6D6D6 !important; }
.facebookHeaderWrapper .numberOfLikes {
    border-bottom: none !important;
    padding: 0px !important;
    margin-bottom: 0 !important; }
.facebookHeaderWrapper .numberOfLikes a.grayColor {
    color: #818183 !important;
    margin-right: 3px; }
.facebookHeaderWrapper .numberOfLikes img {
    vertical-align: bottom; }


[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */ }

/* */
div[contenteditable=true] {
    border: 1px dashed #AAA;
    width: 290px;
    padding: 5px; }

@media (min-width: 450px) and (max-width: 639px) {


}
@media (min-width: 640px) and (max-width: 799px) {


}
@media (min-width: 800px) and (max-width: 1024px) {



}
@media (min-width: 450px) and (max-width: 640px) {
    html {
        font-size: 55%; }

    .loadingDiv {
        height: calc(100% - 70px);
        top: 70px; }


    .mainNewsDetailsWrapper .actualNewsWrapper .actualNewsHeader .newsHeaderInfo .thisNewsInfo {
        padding: 0 5px 0 0; }
    .mainNewsDetailsWrapper .actualNewsWrapper .actualNewsHeader .newsHeaderInfo .thisNewsInfo .dateAndTime {
        width: 99%; }

}
@media (min-width: 300px) and (max-width: 449px) {
    html {
        font-size: 47%; }

    .modal-open .modal {
        padding-right: 0 !important; }





    .loadingDiv {
        height: calc(100% - 65px);
        top: 65px; }



    .mainNewsDetailsWrapper .actualNewsWrapper .actualNewsHeader .newsHeaderInfo .thisNewsInfo {
        padding: 0 5px; }
    .mainNewsDetailsWrapper .actualNewsWrapper .actualNewsHeader .newsHeaderInfo .thisNewsInfo .dateAndTime {
        width: 100%; }

    .mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails .newsHeader {
        font-size: 2.7rem; }
    .mainNewsDetailsWrapper .actualNewsWrapper .actualNewsDetails hr {
        width: 90%; }

    .mainNewsDetailsWrapper .shareIcons .socialBtn {
        width: 45px;
        height: 45px; } }

@media (min-width: 300px) and (max-width: 350px) {

}


.serverErrorDiv {
    text-align: center;
    height: 40%;
    width: 100%;
    background: white;
    z-index: 100;
    top: 60%;display: none;}
.serverErrorDiv img {
    width: 100px;
    margin-top: 15%;
    display: inline-block;}
.serverErrorDiv p {
    font-size: 2.5rem;
    color: #3da696;
    margin: 30px auto;
    width: 70%; }




