

*{margin:0;padding:0;}
	ul,li{list-style: none;}
	.doaa{padding-top: 10px; padding-bottom: 20px;clear: both;border-bottom: thin groove #2bbdbc }
    .doaaSource {float: left ;}
	body{
        font:normal 14px/1.5 "Arial","Lucida Grande",Verdana,"Microsoft YaHei","hei"; }
	.cui-tab{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		height:43px;
		line-height:43px;
		border-bottom:#2bbdbc 1px solid;
		background-color: #fafafa;
		color:#666;
		font-size: 15px;
		position: fixed;
		width: 100%;
		z-index:100;
	}
	.cui-tab label{
		text-align: center;
		-webkit-box-flex: 1;
		-moz-box-flex: 1; 
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
    display:block;
	position: relative;
	margin: 1% 0;
	font-weight: bold;
	}
	.cui-tab label:nth-of-type(2)::after{
		position: absolute;
		left:0;
		content:"";
		height: 4px;
		top:101%;
		width:100%;
		background-color: #2bbdbc;
     	-webkit-transition:-webkit-transform 400ms ease-in-out;
	}
	.cui-tab input{display:none;}
	.cui-tab input:nth-of-type(1):checked ~ label:nth-of-type(1) ,.cui-tab input:nth-of-type(2):checked ~ label:nth-of-type(2) ,.cui-tab input:nth-of-type(3):checked ~ label:nth-of-type(3) {color:#2bbdbc;}
	.cui-tab input:nth-of-type(1):checked ~ label:nth-of-type(2)::after{
		-webkit-transform:translateX(-100%);
	}
	.cui-tab input:nth-of-type(2):checked ~ label:nth-of-type(2)::after{
		-webkit-transform:translateX(0);
	}
	.cui-tab input:nth-of-type(3):checked ~ label:nth-of-type(2)::after{
		-webkit-transform:translateX(100%);
	}
	
	/*********TABS********/
	.tab-content{position: absolute;top: 10%;width:100%}
	    label:nth-of-type(2){ border-left:1px solid #ccc; border-right:1px solid #ccc}
		.tab { display:none;padding: 2%;text-align: right;}
		#tab2 { display:block}
		.main_title{ color:#f07d51; font-size:130%; font-weight:bold;}
		.sub_title{ color:#a9b353; font-size:120%; font-weight:bold;}
		.number{color:#f07d51; float:right; font-weight:bold; margin-left:2%;}
		.mansak{ font-size:16px; color:#666 !important}
		.image{ margin-left:auto; margin-right:auto;width: 82%;}
        
        