@charset "utf-8";

/* CSS Document */
* {
    /*  -webkit-touch-callout: none;  */ /* prevent callout to copy image, etc when tap to hold */
    /*-webkit-text-size-adjust: none; */ /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none; */ /* prevent copy paste, to allow, change 'none' to 'text' */
}
/* CSS Document */

html{
    height: 100%;
    background: transparent;

}
header, footer, aside, section, article, hgroup {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    direction: rtl;
    height: 100%;
    background: transparent;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

@font-face {
    font-family: ButtonFont;
    src: url(../fonts/Hacen%20Tehran.ttf);
}

@font-face {
    font-family: join;
    src: url(../fonts/Hacen%20Samra.ttf);
}
/************************search page**********************************/



.loadingIcon, .noData{

    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 999;
}
.noData{
    display: none;
}
.loadingIcon div, .noData div{
    position: relative;
    top: 42%;
}
.loadingIcon img{
    width: 50px;

}
.loadingIcon p, .noData p {
    position: relative;
    font-family: bolder;
    font-size: 16px;
    margin: 0;
}
.noData p{
    font-weight: bold;
    color: #02b6ab;
}

.container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.onlineList{
    list-style: none;
    float: right;
    width: 100%;
    padding: 0;

    margin-top: 25%;

}
.onlineList li{
    width: 100%;
    float: right;
    margin-bottom: 30px;
}
.onlineList li img{
    width: 100%;

}












#videoPopup{

    margin: 0;
}
.modal-dialog{
    height: 100%;
    width: 100%;
    margin: 0;
}

.modal-content{
    height: 100%;
    background-color: black;
}
.modal-body{
    height: 83%;
    padding: 5px 0px 5px 0px;
    margin-top: 10%;
}
#myFrame{
    width: 100%;
    height: 100%;
    border: none;
}
.modal-header, .modal-footer {
    border: none;
}

.modal-header button{
    font-size: 30px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    float: left;
    color: darkgray;
    text-shadow: none;
    opacity: 1;
    line-height: 26px;
    text-align: center;
    margin-top: 4.5% !important;
}


@media (min-width: 750px) {
    .container {
        width: 80%;

    }
    /*.onlineList {*/
        /*margin-top: 80px;*/
    /*}*/

}