
<div class="addSchedule">







  <div class="registerForm">


  <form name="addProgram" novalidate ng-submit="hasImages(addProgram.$valid)" >


    <div class="control">
      <label>التاريخ </label>
      <div class="inputContainer noError">
        <select   class="mainDays" data-ng-model="myDayIndex" ng-change="setCurrentDate()" ng-options="item.id as item.name for item in days">
          <option value="" disabled selected>
            اختر اليوم
          </option>
        </select>
      </div>
    </div>


    <div class="time-picker">

      <label>الوقت</label>
      <div class="container">
        <div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
              <div class='input-group date' id='datetimepicker3' >
                <input type='text' ng-model="program.time" class="form-control" />
                    <span class="input-group-addon"  ng-click="timeValidation()">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>

              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="timepickerError">
                              <span>
                                يجب ادخال الوقت
                              </span>
      </div>
    </div>



    <div class="control">


      <label>عنوان البرنامج</label>
      <div class="inputContainer" ng-class="{  'hasError' : addProgram.programTitle.$invalid && addProgram.programTitle.$touched, 'noError':addProgram.programTitle.$valid}">

      <!--<span class="required">*</span>-->
        <input name="programTitle" required id="programTitle" type="text" ng-model="program.title"
                placeholder=""/>

          <a><i class="ion-ios-pricetag-outline"></i></a>
      </div>
        <div class="alert" ng-show="addProgram.$submitted || addProgram.programTitle.$touched">
        <span ng-show="addProgram.programTitle.$error.required">
         يجب إدخال عنوان البرنامج
        </span>
      </div>
    </div>



    <div class="control">
      <label>الموقع علي الخريطة</label>
      <div class="inputContainer mapContainer" ng-click="loadMap()">

        <!--<span class="required">*</span>-->
        <label   id="location" ng-bind="program.address">

        </label>

        <a><i class="ion-ios-location"></i></a>
      </div>

    </div>




    <div class="control">
      <!--<span class="required">*</span>-->
      <label>الوصـــف</label>
      <div class="inputContainer textareaContainer" ng-class="{ 'hasError' : addProgram.details.$invalid && addProgram.details.$touched, 'noError':addProgram.details.$valid}">

      <textarea name="details" required id="details" type="text" ng-model="program.details"  onkeyup="angular.element(this).scope().textAreaAdjust(this)"
              placeholder=""></textarea>
        <a><i class="ion-ios-paper-outline"></i></a>
      </div>

        <div class="alert" ng-show="addProgram.$submitted || addProgram.details.$touched">
        <span ng-show="addProgram.details.$error.required">
          يجب إدخال الوصف
        </span>
      </div>
    </div>




    <div class="control">
<label>الصورة</label>
    <div class="imageContainer">
      <img src="images/photo.png" id="defaultImage" >
      <img src="" id="mainImage">
      <input  id="imageInput" class="inputImgHidden" ng-model="program.image" onchange="angular.element(this).scope().addImage(this)" type="file" />



      <label class="attachedImageName" id="cancelImg1" onclick="angular.element(this).scope().removeImage(this)">
        <i class="ion ion-close-circled cancelImage" ></i>

      </label>
    </div>

</div>




    <div class="control">
      <label>إسم المسؤول</label>
      <!--<span class="required">*</span>-->
      <div class="inputContainer" ng-class="{  'hasError' : addProgram.respName.$invalid && addProgram.respName.$touched, 'noError':addProgram.respName.$valid}">

        <input name="respName" required id="respName" type="text" ng-model="program.name"
              placeholder=""/>

        <a><i class="ion-ios-person-outline"></i></a>
      </div>
      <div class="alert" ng-show="addProgram.$submitted || addProgram.respName.$touched">
        <span ng-show="addProgram.respName.$error.required">
         يجب  إدخال اسم المسؤول
        </span>
      </div>
    </div>






    <div class="control">
      <label>هاتف المسؤول</label>
      <div class="inputContainer" ng-class="{ 'hasError' : addProgram.phone.$invalid &&  addProgram.phone.$touched, 'noError': addProgram.phone.$valid}">

      <!--<span class="required">*</span>-->
      <input name="phone" required id="phone" type="text" ng-model="program.phone"  ng-minlength="6" ng-maxlength="15"
              placeholder=""/>
        <a><i class="ion-ios-telephone-outline"></i></a>
      </div>
        <div class="alert" ng-show="addProgram.$submitted ||  addProgram.phone.$touched">
        <span ng-show="addProgram.phone.$error.required">
          يجب إدخال رقم هاتف الإدارة
        </span>
        <span class="error" ng-show=" addProgram.phone.$error.minlength">
            رقم الهاتف قصير جدا
        </span>
        <span class="error" ng-show=" addProgram.phone.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="addProgram.phone.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>

    <button class="orangeBtn btn" type="submit" data-toggle="modal">حـــفظ</button>
  </form>
 </div>

  </div>


<script type="text/javascript">
  $(function () {
    $('#datetimepicker3').datetimepicker({
      format: 'LT',
      debug: true
    });
  });
</script>
