<div class="firstInput col-lg-12 col-xs-12">
  <textarea ng-model="inputParagraph.text" placeholder="تستطيع إضافة عدة أسئــلة لكل يوم">

  </textarea>
  <div class="toolBar">
    <a data-target="#" ng-click="inputParagraph.text == '' ||addParagraph()"><i class="icon-ok-circled"></i></a>
    <!--<a data-target="#"><i class="icon-left-circle"></i></a>-->
  </div>
</div>
<div class="schedule">
  <div class=" step col-lg-12 col-xs-12" ng-repeat="item in competitionsTable">
    <div class="elementRepeated col-lg-12 col-xs-12" ng-repeat="i in item.day">
      <div class="stepInput col-lg-12 col-xs-12"  ng-show="i.edit">
        <textarea ng-model="i.text">

        </textarea>
        <div class="toolBar">
          <a data-target="#" ng-click="i.text == '' ||saveEdit($index)"><i class="icon-ok-circled"></i></a>
          <a data-target="#" ng-click="cancelEdit($index)"><i class="icon-left-circle"></i></a>
        </div>
      </div>
      <div class="stepInput col-lg-12 col-xs-12" ng-hide="i.edit">
        <p ng-bind-html="i.text"></p>
        <div class="toolBar">
          <a data-target="#" ng-click="changeToEditMode($index)"><i class="icon-edit-1"></i></a>
          <a data-target="#"  ng-click="confirmRemoveParagraph($index)"><i class="icon-trash-1"></i></a>
        </div>
      </div>
    </div>

  </div>

  <!--<div class="step col-lg-12 col-xs-12">-->
    <!--<p>3</p>-->
  <!--</div>-->
</div>

<!--<script type="text/javascript">-->
  <!--$(document).ready(function(){-->
    <!--$('.schedule').slick({-->
      <!--rtl: true,-->
      <!--infinite: true,-->
      <!--speed: 600,-->
      <!--slidesToShow: 1,-->
      <!--slidesToScroll: 1,-->
      <!--arrows: true,-->
      <!--dots: true-->

  <!--});-->
  <!--});-->
<!--</script>-->
