<div class="dashboardWrapper">
  <div class="dashboardItem" id="notification">
    <a href="#/news"><img src="images/news.png"></a>
  </div>
  <div class="dashboardItem" id="table">
    <a href="#/schedule"><img src="images/tabla.png"></a>
  </div>
  <div class="dashboardItem" id="momayazat">
    <a href="#/features"><img src="images/momayazat.png"></a>
  </div>
  <div class="dashboardItem" id="detectMe">
    <a href="#/competitions"><img src="images/competition.png"></a>
  </div>
  <div class="dashboardItem" id="myData">
    <a href="#/profile"><img src="images/data.png"></a>
  </div>
  <div class="dashboardItem" id="daleel">
    <a href="#/showDirectory"><img src="images/daleel.png"></a>
  </div>
</div>
