<div class="directoryForm">
  <form name="directory" novalidate ng-submit="saveDirectory(directory.$valid)" >
    <div class="control">
      <!--<span class="required">*</span>-->
      <label id="managementLabel">هاتف {{directoryList[0].giudeName}}  </label>
      <input name="management"  id="management" type="text" ng-model="directoryList[0].guidPhone" ng-maxlength="15"
             ng-class="{ 'hasError' : directory.management.$invalid && directory.management.$touched}" placeholder="{{directoryList[0].giudeName}}"/>
      <div class="alert" ng-show="directory.$submitted || directory.management.$touched">
        <span ng-show="directory.management.$error.required">
          يجب إدخال رقم هاتف الإدارة
        </span>
         <span class="error" ng-show="directory.management.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="directory.management.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>
    <div class="control">
      <!--<span class="required">*</span>-->
      <label id="doctorLabel">هاتف   {{directoryList[1].giudeName}}</label>
      <input name="doctorName"  id="doctorName" type="text" ng-model="directoryList[1].guidPhone" ng-maxlength="15"
             ng-class="{ 'hasError' : directory.doctorName.$invalid && directory.doctorName.$touched}" placeholder="{{directoryList[1].giudeName}}"/>
      <div class="alert" ng-show="directory.$submitted || directory.doctorName.$touched">
        <span ng-show="directory.doctorName.$error.required">
          يجب إدخال رقم هاتف  طبيب الحملة
        </span>
         <span class="error" ng-show="directory.doctorName.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="directory.doctorName.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>
    <div class="control">
      <!--<span class="required">*</span>-->
      <label id="lostManagerLabel">هاتف  {{directoryList[2].giudeName}}</label>
      <input name="lostManager"  id="lostManager" type="text" ng-model="directoryList[2].guidPhone" ng-maxlength="15"
             ng-class="{ 'hasError' : directory.lostManager.$invalid && directory.lostManager.$touched}" placeholder="{{directoryList[2].giudeName}}"/>
      <div class="alert" ng-show="directory.$submitted || directory.lostManager.$touched">
        <span ng-show="directory.lostManager.$error.required">
          يجب إدخال رقم هاتف مشرف التائهون
        </span>
         <span class="error" ng-show="directory.lostManager.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="directory.lostManager.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>
    <div class="control">
      <!--<span class="required">*</span>-->
      <label id="guideLabel"> هاتف {{directoryList[3].giudeName}}</label>
      <input name="guide"  id="guide" type="text" ng-model="directoryList[3].guidPhone" ng-maxlength="15"
             ng-class="{ 'hasError' : directory.guide.$invalid && directory.guide.$touched}" placeholder="{{directoryList[3].giudeName}}"/>
      <div class="alert" ng-show="directory.$submitted || directory.guide.$touched">
        <span ng-show="directory.guide.$error.required">
          يجب إدخال رقم هاتف مفتي الحملة
        </span>
         <span class="error" ng-show="directory.guide.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="directory.guide.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>
    <div class="control">
      <!--<span class="required">*</span>-->
      <label id="literaryManagerLabel">  هاتف {{directoryList[4].giudeName}}</label>
      <input name="literaryManager"  id="literaryManager" type="text" ng-model="directoryList[4].guidPhone" ng-maxlength="15"
             ng-class="{ 'hasError' : directory.literaryManager.$invalid && directory.literaryManager.$touched}" placeholder="{{directoryList[4].giudeName}}"/>
      <div class="alert" ng-show="directory.$submitted || directory.literaryManager.$touched">
        <span ng-show="directory.literaryManager.$error.required">
          يجب إدخال رقم هاتف الثقافي
        </span>
         <span class="error" ng-show="directory.literaryManager.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="directory.literaryManager.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>

    <button class="orangeBtn btn" type="submit" ng-click="gotoShowDirectory()">حفظ</button>
  </form>
</div>
