<div class="editProfileForm">
  <form name="editProfile" novalidate ng-submit="editUserProfile(editProfile.$valid)" >
    <div class="control">
      <span class="required">*</span>
      <input name="campaignName" required id="campaignName" type="text" ng-model="editedFields.campaignName"
             ng-class="{ 'hasError' : editProfile.campaignName.$invalid && editProfile.campaignName.$touched}" placeholder="إسم الحملة"/>
      <div class="alert" ng-show="editProfile.$submitted || editProfile.campaignName.$touched">
        <span ng-show="editProfile.campaignName.$error.required">
          يجب إدخال  إسم الحملة
        </span>
      </div>
    </div>
    <div class="control">
      <span class="required">*</span>
      <input name="campaignGuide" required id="campaignGuide" type="text" ng-model="editedFields.campaignGuide"
             ng-class="{ 'hasError' : editProfile.campaignGuide.$invalid && editProfile.campaignGuide.$touched}" placeholder="الإسم"/>
      <div class="alert" ng-show="editProfile.$submitted || editProfile.campaignGuide.$touched">
        <span ng-show="editProfile.campaignGuide.$error.required">
          يجب إدخال الإسم
        </span>
      </div>
    </div>
    <div class="control">
      <span class="required">*</span>
      <input name="campaignGuidePhone" required id="campaignGuidePhone" type="text" ng-model="editedFields.campaignGuidePhone" ng-minlength="6" ng-maxlength="15"
             ng-class="{ 'hasError' : editProfile.campaignGuidePhone.$invalid && editProfile.campaignGuidePhone.$touched}" placeholder="هاتف الحملة "/>
      <div class="alert" ng-show="editProfile.$submitted || editProfile.campaignGuidePhone.$touched">
          <span ng-show="editProfile.campaignGuidePhone.$error.required">
            يجب إدخال رقم هاتف الحملة
          </span>
         <span class="error" ng-show="editProfile.campaignGuidePhone.$error.minlength">
            رقم الهاتف قصير جدا
            </span>
          <span class="error" ng-show="editProfile.campaignGuidePhone.$error.maxlength">
        رقم الهاتف طويل جدا
          </span>
        <span ng-show="editProfile.campaignGuidePhone.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>

    <button class="orangeBtn btn" type="submit">حفظ</button>
    <button  ng-click="goToProfile()" class="redBtn btn" type="button">العودة لبياناتي</button>
    <a ng-click="logoutUser()" class="logout link">تسجيل خروج</a>
  </form>
</div>
