<div class="faqContainer">

  <div class="panel-group" id="accordion">


    <div class="panel panel-default"  ng-repeat="item in faqQuestions" id="{{item.index}}">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a  class="collapsed" id="hash{{item.index}}" data-toggle="collapse"  data-parent="#accordion" data-target="#collapse{{item.index}}" >
            {{item.messageHeader}}
            <i class="ion ion-plus-round plus"></i>
            <i class="ion ion-close-round close"></i>
          </a>
        </h4>
      </div>
      <div id="collapse{{item.index}}" class="panel-collapse collapse">
        <div class="panel-body"  ng-bind-html='item.messageBody'></div>
      </div>
    </div>

  </div>

</div>
