<div class="firstInput col-lg-12 col-xs-12">
  <textarea ng-model="inputParagraph.text" placeholder="تستطيع اضافة ميزة جديدة للحملة">

  </textarea>
  <div class="toolBar">
    <a data-target="#" ng-click="inputParagraph.text == '' ||addParagraph()"><i class="icon-ok-circled"></i></a>
    <!--<a data-target="#"><i class="icon-left-circle"></i></a>-->
  </div>
</div>
<div class="features">
  <div class=" step col-lg-12 col-xs-12">
    <div class="elementRepeated col-lg-12 col-xs-12" ng-repeat="item in featuresList">
      <div class="stepInput col-lg-12 col-xs-12" ng-show="item.edit">
        <textarea ng-model="item.text" >

        </textarea>
        <div class="toolBar">
          <a data-target="#" ng-click="item.text == '' ||saveEdit($index)"><i class="icon-ok-circled"></i></a>
          <a data-target="#" ng-click="cancelEdit($index)"><i class="icon-left-circle"></i></a>
        </div>
      </div>
      <div class="stepInput col-lg-12 col-xs-12" ng-hide="item.edit">
        <p ng-bind-html="item.text"></p>
        <div class="toolBar">
          <a data-target="#" ng-click="changeToEditMode($index)"><i class="icon-edit-1"></i></a>
          <a data-target="#"  ng-click="confirmRemoveParagraph($index)"><i class="icon-trash-1"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
