<div class="forgotPasswordForm">

  <form name="forgotPassword" novalidate ng-submit="sendEmail(forgotPassword.$valid)" >
    <p>هل نسيت كلمة المرور ؟؟ .. فضلا أدخل بريدك الإلكتروني</p>
    <div class="control">

      <div class="inputContainer" id="emailContainer" ng-class="{  'hasError' : forgotPassword.userEmail.$invalid && forgotPassword.userEmail.$touched, 'noError':forgotPassword.userEmail.$valid}">

      <input name="userEmail" required id="userEmail" type="email" ng-model="userEmail"
              placeholder="البريد الإلكتروني"/>

        <a><i class="ion-ios-email-outline"></i></a>
      </div>
      <div class="alert" ng-show="forgotPassword.$submitted || forgotPassword.userEmail.$touched">
        <span ng-show="forgotPassword.userEmail.$error.required">
         يجب  إدخال البريد الإلكتروني
        </span>
        <span ng-show="forgotPassword.userEmail.$error.email">
          برجاء إدخال بريد إلكتروني صحيح
        </span>
      </div>
    </div>


    <button class="orangeBtn btn" type="submit">إرســال</button>

  </form>
</div>
