<div class="loginForm">
  <form name="login" novalidate ng-submit="loginAdmin(login.$valid)" >
    <div class="control">

      <label>البريد الإلكتروني</label>
      <div class="inputContainer" ng-class="{ 'hasError' : login.userEmail.$invalid && login.userEmail.$touched, 'noError':login.userEmail.$valid}">

          <input name="userEmail" required id="userEmail" type="email" ng-model="user.userEmail"
                  placeholder=""/>
          <a><i class="ion-ios-email-outline"></i></a>
      </div>

      <div class="alert" ng-show="login.$submitted || login.userEmail.$touched">
        <span ng-show="login.userEmail.$error.required">
         يجب  إدخال البريد الإلكتروني
        </span>
        <span ng-show="login.userEmail.$error.email">
          برجاء إدخال بريد إلكتروني صحيح
        </span>

      </div>
    </div>

    <div class="control">
      <label>كلمة المرور</label>
      <!--<span class="required">*</span>-->
      <div class="inputContainer" ng-class="{ 'hasError' : login.userPassword.$invalid && login.userPassword.$touched, 'noError':login.userPassword.$valid}">

        <input name="userPassword" required id="userPassword" type="password" ng-model="user.userPassword"
                placeholder=""/>
        <a><i class="ion-ios-locked-outline"></i></a>
     </div>

      <div class="alert" ng-show="login.$submitted || login.userPassword.$touched">
        <span ng-show="login.userPassword.$error.required">
          يجب إدخال كلمة المرور
        </span>
      </div>
    </div>

    <a class="forgotMyPassword link" ng-click="forgotPassword()">نسيت كلمة المرور</a>


    <button class="orangeBtn btn" type="submit">تسجيل دخول</button>

    <a class="forgotMyPassword link" id="newHamla"ng-click="newCampaign()">
      ليس لديك حساب؟ تسجيل جديد
    </a>

  </form>
</div>
