<div class="userProfile">

  <div class="showData">
    <div class="infoRow">
      <span class="infoTitle">إسم الحملة</span>
      <span class="infoData">{{user.hamlaName}}</span>
    </div>
    <div class="infoRow">
      <span class="infoTitle">الاسم</span>
      <span class="infoData">{{user.name}}</span>
    </div>
    <div class="infoRow">
      <span class="infoTitle">الهاتف</span>
      <span class="infoData">{{user.phone}}</span>
    </div>
    <div class="infoRow">
      <span class="infoTitle">الرقم الخاص </span>
      <span class="infoData">{{user.hamlaCode}}</span>
    </div>
  </div>

  <button class="orangeBtn btn" ng-click="updateMyProfile()" type="button">تـعـديـل</button>
  <a ng-click="logoutUser()" class="logout link">تسجيل خروج</a>
</div>
