<div class="registerForm">
  <form name="register" novalidate ng-submit="addHamla(register.$valid)" >
    <div class="control">


      <label>إسم الحملة</label>
      <div class="inputContainer" ng-class="{  'hasError' : register.campaignName.$invalid && register.campaignName.$touched, 'noError':register.campaignName.$valid}">

      <!--<span class="required">*</span>-->
        <input name="campaignName" required id="campaignName" type="text" ng-model="info.campaignName"
                placeholder=""/>

          <a><i class="ion-ios-home-outline"></i></a>
      </div>
        <div class="alert" ng-show="register.$submitted || register.campaignName.$touched">
        <span ng-show="register.campaignName.$error.required">
         يجب إدخال اسم الحملة
        </span>
      </div>
    </div>



    <div class="control">
      <!--<span class="required">*</span>-->
      <label>الاسم</label>
      <div class="inputContainer" ng-class="{ 'hasError' : register.userName.$invalid && register.userName.$touched, 'noError':register.userName.$valid}">

      <input name="userName" required id="userName" type="text" ng-model="info.userName"
              placeholder=""/>
        <a><i class="ion-ios-person-outline"></i></a>
      </div>

        <div class="alert" ng-show="register.$submitted || register.userName.$touched">
        <span ng-show="register.userName.$error.required">
          يجب إدخال الاسم
        </span>
      </div>
    </div>

    <div class="control">
      <label>البريد الإلكتروني</label>
      <!--<span class="required">*</span>-->
      <div class="inputContainer" id="emailContainer" ng-class="{  'hasError' : register.userEmail.$invalid && register.userEmail.$touched, 'noError':register.userEmail.$valid}">

        <input name="userEmail" required id="userEmail" type="email" ng-model="info.userEmail" ng-blur="validateEmail()"
              placeholder=""/>

        <a><i class="ion-ios-email-outline"></i></a>
      </div>
      <div class="alert" ng-show="register.$submitted || register.userEmail.$touched">
        <span ng-show="register.userEmail.$error.required">
         يجب  إدخال البريد الإلكتروني
        </span>
        <span ng-show="register.userEmail.$error.email">
          برجاء إدخال بريد إلكتروني صحيح
        </span>
      </div>
    </div>

    <div class="control">
      <label>كلمة المرور</label>
      <!--<span class="required">*</span>-->
      <div class="inputContainer" ng-class="{ 'hasError' : register.userPassword.$invalid && register.userPassword.$touched, 'noError':register.userPassword.$valid}">

          <input name="userPassword" required id="userPassword" type="password" ng-model="info.userPassword"
                placeholder=""/>

          <a><i class="ion-ios-locked-outline"></i></a>
      </div>
      <div class="alert" ng-show="register.$submitted || register.userPassword.$touched">
        <span ng-show="register.userPassword.$error.required">
          يجب إدخال كلمة المرور
        </span>
      </div>
    </div>

    <div class="control">
      <label>تأكيد كلمة المرور</label>
      <!--<span class="required">*</span>-->
      <div class="inputContainer" ng-class="{ 'hasError' : register.userRePassword.$invalid && register.userRePassword.$touched, 'noError':register.userRePassword.$valid}">

        <input name="userRePassword" required id="userRePassword" type="password" ng-model="info.userRePassword"
             placeholder=""/>
        <a><i class="ion-ios-locked-outline"></i></a>
      </div>
      <div class="alert" ng-show="register.$submitted || register.userRePassword.$touched">
        <span ng-show="register.userRePassword.$error.required">
يجب إعادة إدخال كلمة المرور
        </span>
      </div>
    </div>


    <div class="control">
      <label>هاتف الإدارة</label>
      <div class="inputContainer" ng-class="{ 'hasError' : register.telephone.$invalid && register.telephone.$touched, 'noError':register.telephone.$valid}">

      <!--<span class="required">*</span>-->
      <input name="telephone" required id="telephone" type="text" ng-model="info.telephone"  ng-minlength="6" ng-maxlength="15"
              placeholder=""/>
        <a><i class="ion-ios-telephone-outline"></i></a>
      </div>
        <div class="alert" ng-show="register.$submitted || register.telephone.$touched">
        <span ng-show="register.telephone.$error.required">
          يجب إدخال رقم هاتف الإدارة
        </span>
        <span class="error" ng-show="register.telephone.$error.minlength">
            رقم الهاتف قصير جدا
        </span>
        <span class="error" ng-show="register.telephone.$error.maxlength">
      رقم الهاتف طويل جدا
        </span>
        <span ng-show="register.telephone.$error.pattern">بالرجاء ادخال رقم صحيح</span>
      </div>
    </div>

    <button class="orangeBtn btn" type="submit" data-toggle="modal">حــــفظ</button>
  </form>
 </div>
