<div class="resetPasswordForm">
  <form name="resetPassword" novalidate ng-submit="resetUserPassword(resetPassword.$valid)" >

    <div class="control">
      <span class="required">*</span>
      <input name="userPassword" required id="userPassword" type="password" ng-model="userPassword"
             ng-class="{ 'hasError' : resetPassword.userPassword.$invalid && resetPassword.userPassword.$touched}" placeholder="كلمة المرور"/>
      <div class="alert" ng-show="resetPassword.$submitted || resetPassword.userPassword.$touched">
        <span ng-show="resetPassword.userPassword.$error.required">
          يجب إدخال كلمة المرور
        </span>
      </div>
    </div>

    <div class="control">
      <span class="required">*</span>
      <input name="userRePassword" required id="userRePassword" type="password" ng-model="userRePassword"
             ng-class="{ 'hasError' : resetPassword.userRePassword.$invalid && resetPassword.userRePassword.$touched}" placeholder="إعادة كلمة المرور"/>
      <div class="alert" ng-show="resetPassword.$submitted || resetPassword.userRePassword.$touched">
        <span ng-show="resetPassword.userRePassword.$error.required">
          يجب إعادة إدخال كلمة المرور
        </span>
      </div>
    </div>


    <button class="orangeBtn btn" type="submit">إرســال</button>

  </form>
</div>
