<label class="pageSubTitle">
  برنامج مهام اليوم
</label>
<div class="schedule">


  <div class=" step col-lg-12 col-xs-12" ng-repeat="item in scheduleTable" >


    <div class="elementRepeated  elementRepeatedPast col-lg-12 col-xs-12" ng-repeat="i in item.day">
      <div class="time-div">

        <label ng-bind="i.time">

          </label>
        <span ng-bind="i.am_pm">

          </span>
      </div>
      <div class="detailsCard">
        <label class="title" ng-bind="i.title">

        </label>
        <img ng-hide="i.image == ''" ng-src="{{i.image}}">
        <p ng-bind-html="i.details">


        </p>
        <div class="lowerTwoBtn">
          <label class="labelBtn rightBtn" ng-click="loadMap($index)">
            <i class="ion-ios-location"></i>
            المكان علي الخريطة
          </label>
          <label class="labelBtn leftBtn">
            <a href= {{'tel:'+i.phone}}>
            <i class="ion-ios-telephone"></i>
            اتصل بالمسؤول

</a>
          </label>

        </div>
      </div>

    </div>

  </div>




</div>

<div class="addNewOne" ng-click="addNewOne()">
  <a><i class="ion-plus-round"></i></a>
</div>
<!--<script type="text/javascript">-->
  <!--$(document).ready(function(){-->
    <!--$('.schedule').slick({-->
      <!--rtl: true,-->
      <!--infinite: true,-->
      <!--speed: 600,-->
      <!--slidesToShow: 1,-->
      <!--slidesToScroll: 1,-->
      <!--arrows: true,-->
      <!--dots: true-->

  <!--});-->
  <!--});-->
<!--</script>-->
