<div class="showDirectory">

  <div class="showData">

    <div class="infoRow" ng-repeat="item in directoryData">
      <span class="infoTitle">هاتف {{item.giudeName}}</span>
      <a  href= {{'tel:'+item.guidPhone}}><span class="infoData">{{item.guidPhone}}</span></a>
    </div>


  </div>

  <button class="orangeBtn btn"  ng-disabled="directoryData.length == 0" ng-click="updateDirectory()" type="button">إضافة و تعديل</button>

</div>
