body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;


}
#myImg{
    width: 100%;
    position: relative;
    bottom: 0;
    height: 100%;
    display: block;
}
