<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=yes">
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!-- endbower -->

    <!-- endbuild -->

    <link href="styles/mutaweficons.css" rel="stylesheet" type="text/css" />
    <link href="styles/slick.css" rel="stylesheet" type="text/css" />
    <link href="styles/slick-theme.css" rel="stylesheet" type="text/css" />


    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="hamalatAdminApp">

    <div class="container">
      <header>

        <div class="mainHeader">
            <label class="hamlaName" ng-bind="topTitle"></label>

            <a class="backIcon" ng-click="backAction()"  ng-show="backBtn"><i class="icon-left"></i></a>

            <a class="logOutIcon" ng-show="logOut" ng-click="logoutUser()" ><i class="icon-logout"></i></a>
          <!--<a class="allFavIcon" onclick="initialize()"><i class="ion ion-map"></i></a>-->
        </div>

        <div class="subHeader">
          <h3  ng-bind="mainTitle">
          </h3>
        </div>
        <div class="clearfix"></div>
      </header>




      <div class="loadingIcon"  ng-show="loading" style="display: block">

        <div>
          <img src="images/loadingImg.png" class="animated rotateIn infinite">
          <p>تحميـــل ...</p>
        </div>

      </div>





      <div ng-view="" class="viewContainer"></div>
      <!--<div class="footer">-->

      <!--</div>-->


    <!--</div>-->



    <!--failure Modal-->
    <div class="modal fade bs-example-modal-sm registerModals" id="failPopup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <span href="#"><i class="icon-attention-circled"></i></span>
            <p>{{message}}</p>
          </div>
          <div class="modal-footer">
            <button id="okFailure" type="button" class="btn btn-default registerPopUp" data-dismiss="modal" >موافق</button>
          </div>


        </div>
      </div>
    </div>
    <!--Success Modal-->
    <div class="modal fade bs-example-modal-sm registerModals success" id="successPopup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <span href="#"><i class="icon-ok-circled"></i></span>
            <p>{{message}}</p>
          </div>
          <div class="modal-footer">
            <button id="okSuccess" type="button" class="btn btn-default registerPopUp" data-dismiss="modal">موافق</button>
          </div>

        </div>
      </div>
    </div>
    <!--Success Modal ok and cancel-->
    <div class="modal fade bs-example-modal-sm registerModals successOk" id="dialogPopup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <span href="#"><i class="icon-ok-circled"></i></span>
            <p>{{message}}</p>
          </div>

          <div class="modal-footer">
            <button  id="cancelPopUp" type="button" ng-click="cancelDialogPopup()" class="btn btn-danger registerPopUp" data-dismiss="modal">إلغاء</button>
            <button id="okPopUp" type="button" ng-click="okDialogPopup()" class="btn btn-default registerPopUp">موافق</button>
          </div>
        </div>
      </div>
    </div>

    <!--Success Modal with ok-->
    <div class="modal fade bs-example-modal-sm registerModals success" id="successOkOnly" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <span href="#"><i class="icon-ok-circled"></i></span>
            <p>{{message}}</p>
          </div>

          <div class="modal-footer">
            <button data-dismiss="modal" da ng-click="okOnPopup()" type="button" class="btn btn-default">موافق</button>
          </div>
        </div>
      </div>
    </div>


      <!--Success Modal with ok-->
      <div class="modal fade bs-example-modal-sm registerModals success" id="mapPopUp" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body" id="map">

            </div>

            <div class="modal-footer">
              <button data-dismiss="modal" da ng-click="okOnPopup()" type="button" class="btn btn-default">موافق</button>
            </div>
          </div>
        </div>
      </div>

    <!--</div>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/userData.js"></script>
        <script src="scripts/services/imageService.js"></script>
        <script src="scripts/services/timeService.js"></script>
        <script src="scripts/services/UserService.js"></script>
        <script src="scripts/services/ScheduleService.js"></script>
        <script src="scripts/services/CompetitionsService.js"></script>
        <script src="scripts/services/NewsService.js"></script>
        <script src="scripts/services/FeaturesService.js"></script>
        <script src="scripts/services/directoryService.js"></script>
        <script src="scripts/slick.min.js"></script>

        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/directory.js"></script>
        <script src="scripts/controllers/showDirectory.js"></script>
        <script src="scripts/controllers/LoginCtrl.js"></script>
        <script src="scripts/controllers/forgotPassword.js"></script>
        <script src="scripts/controllers/resetPassword.js"></script>
        <script src="scripts/controllers/RegisterCtrl.js"></script>
        <script src="scripts/controllers/editProfile.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/dashboardCtrl.js"></script>
        <script src="scripts/controllers/scheduleCtrl.js"></script>
        <script src="scripts/controllers/add-scheduleCtrl.js"></script>
        <script src="scripts/controllers/scheduleDetails.js"></script>
        <script src="scripts/controllers/competitionsCtrl.js"></script>
        <script src="scripts/controllers/featuresCtrl.js"></script>
        <script src="scripts/controllers/newsCtrl.js"></script>
        <script src="scripts/controllers/faqCtr.js"></script>
        <!-- endbuild -->
    <script>
      jQuery(document)
        .on('focus', 'input', function(e) {
          console.log('focus on input');
          $('.footer').addClass('fixfixed');

          focusAtEnd(this)
        })
        .on('blur', 'input', function(e) {
          console.log('blur out of input');
          $('.footer').removeClass('fixfixed');
        });

      jQuery(document)
        .on('focus', 'textarea                                                                                                                                                                                                                                                                                                                                                                                                                                       ', function(e) {
          console.log('focus on input');
          $('.footer').addClass('fixfixed');
          $('.slick-dots').hide();
          focusAtEnd(this)
        })
        .on('blur', 'textarea', function(e) {
          console.log('blur out of input');
          $('.footer').removeClass('fixfixed');
          $('.slick-dots').show();
        });

      function focusAtEnd(el) {

        el.focus();
        var s = el.value;
        el.value = '';
        el.value = s;
        console.log(s)

      }
    </script>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false&language=ar"></script>
  </body>

</html>
